<app-menubar
  (userInfo)="user = $event"
  (openModalChangeUsername)="showModalChangeUsername($event)"
  (openModalChangePassword)="showModalChangePassword($event)"
  [user]="user"
></app-menubar>

<section class="container cards">
  <app-card-total-balance [balanceValue]="balance.balance"></app-card-total-balance>
  <app-card-total-income  [incomeValue]="balance.income"></app-card-total-income>
  <app-card-total-expense [expenseValue]="balance.expense"></app-card-total-expense>
</section>

<section class="container form-transaction">
  <p-button
    severity="success"
    iconPos="right"
    size="small"
    icon="pi pi-plus-circle"
    label="Add Transaction"
    (onClick)="showModalAddTransaction()"
  />

  <app-modal-add-transaction
    [visible]="visibleModalAddTransaction"
    (changeVisible)="visibleModalAddTransaction = $event"
    (registeredTransaction)="registeredTransaction($event)"
  ></app-modal-add-transaction>

  <app-modal-change-username
    [visible]="visibleModalChangeUsername"
    (changeVisible)="visibleModalChangeUsername = $event"
    (userInfo)="changeUserInfo($event)"
    [username]="user.name"
  ></app-modal-change-username>

  <app-modal-change-password
    [visible]="visibleModalChangePassword"
    (changeVisible)="visibleModalChangePassword = $event"
  ></app-modal-change-password>
</section>
