<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="PG_HOST" value="postgres"/>
        <env name="PG_PORT" value="5432"/>
        <env name="PG_USER" value="admin"/>
        <env name="PG_PASS" value="admin"/>
        <env name="PG_DB" value="financial_db"/>

        <env name="JWT_SECRET_KEY" value="6jJD6Y+W+!)pscMt" />
    </php>
</phpunit>